/* 利用混合简化折叠与非折叠菜单左侧图标与右侧菜单文本的距离配置 */
@mixin set-menu-title-left-gap($gap) {
  /* 菜单项的鼠标 hover 样式与 active 样式 */
  .el-menu-item {
    &.is-active {
      color: var(--ap-sidebar-active-color) !important;
      background-color: transparent;
    }
    &:hover {
      color: var(--ap-sidebar-hover-color);
      background-color: var(--el-overlay-color-lighter);
    }
  }

  /* 菜单左侧图标与右侧菜单文本的距离 */
  .el-menu-item .title,
  .el-sub-menu__title .title {
    margin-left: $gap;
  }
  /* 菜单左侧图标的大小 */
  .el-menu-item .iconfont,
  .el-sub-menu__title .iconfont {
    font-size: var(--ap-sidebar-icon-size);
  }
}

.custom-menu.el-menu {
  /* 折叠与非折叠菜单左侧图标与右侧菜单文本的距离 */
  @include set-menu-title-left-gap(var(--ap-sidebar-icon-gap));
}

/* 折叠菜单弹出的二级菜单的样式 */
.el-popper.custom-menu-popper {
  --el-menu-horizontal-sub-item-height: 30px;
  --el-menu-item-height: var(--ap-sidebar-item-height);
  --el-menu-bg-color: var(--ap-sidebar-bg-color);
  --el-menu-text-color: var(--ap-sidebar-text-color);
  --el-menu-active-color: var(--ap-sidebar-active-color);
  --el-menu-hover-bg-color: transparent;
  border: none;

  /* 折叠与非折叠菜单左侧图标与右侧菜单文本的距离 */
  @include set-menu-title-left-gap(var(--ap-sidebar-icon-gap));
}
