@use './variables.css'; // 全局 CSS 变量
@use 'nprogress/nprogress.css';
@use './transition.scss';
@use './custom-element-plus/index.scss';
@import '//at.alicdn.com/t/c/font_4611674_9ipdnin4rro.css';

body {
  color: var(--el-text-color-regular);
  background-color: var(--el-bg-color-page);
  font-family: var(--el-font-family);
}

/* 顶部加载进度条的颜色 */
#nprogress .bar {
  background-color: var(--el-color-primary);
}
