/** 全局 CSS 变量，这种变量不仅可以在 CSS 和 SCSS 中使用，还可以导入到 JS 中使用 */

:root {
  --ap-navbar-height: 50px;
  --ap-header-height: var(--app-navbar-height);
  --ap-content-height: calc(100vh - var(--app-header-height));
}
