/** 全局 CSS 变量，这种变量不仅可以在 CSS 和 SCSS 中使用，还可以导入到 JS 中使用 */

:root {
  /* Sidebar */
  --ap-sidebar-width: 220px;
  --ap-sidebar-hide-width: 64px;
  --ap-sidebar-icon-size: 18px;
  --ap-sidebar-icon-gap: 6px;
  --ap-sidebar-bg-color: #262935;
  --ap-sidebar-active-color: var(--el-color-primary);
  --ap-sidebar-hover-color: var(--el-color-primary-light-3);
  --ap-sidebar-text-color: var(--el-color-info-light-9);
  --ap-sidebar-item-height: 42px;

  /* Logo 的标题颜色 */
  --ap-logo-text-color: var(--el-border-color);

  /* Navbar */
  --ap-navbar-height: 50px;
  --ap-header-height: var(--ap-navbar-height);
  --ap-content-height: calc(100vh - var(--ap-header-height));
}
