@use './variables.scss';
@use './reset.css';

// 官方推荐的切换开关样式
// https://vitepress.dev/zh/guide/extending-default-theme#使用视图过渡-api
.VPSwitchAppearance {
  width: 22px !important;
}
.VPSwitchAppearance .check {
  transform: none !important;
}

.vp-doc p {
  font-family: 'LXGW WenKai', Arial, sans-serif;
  text-align: justify;
}
